
.container
    max-width: 1234px
    margin: 0 auto
    padding: 0 30px
    width: 100%
    box-sizing: border-box

.url_wrapper
    margin-top: 30px
    margin-bottom: 30px

.saleslist
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.title
    font-size: 34px
    text-transform: uppercase
    margin-bottom: 20px
    color: #444

.themes__title
    color: #444
    font-size: 30px
    font-weight: 400
    line-height: 1
    margin-bottom: 24px

.themes__list
    display: flex
    margin-bottom: 25px

.themes__item
    margin-right: 15px
    display: block
    text-decoration: none
    color: #444
    font-size: 15px
    font-weight: 400
    line-height: 1
    padding: 9px 20px
    border-radius: 5px
    border: 1px solid #0ca5d3
    cursor: pointer
    &:hover
        background-color: #0ca5d3
        color: #fff

@media screen and ( max-width: 1023px )

    .container
        padding: 0 15px

@media screen and ( max-width: 450px )

    .container
        padding: 0 10px
