.mobile_catalog_pagination
    padding-bottom: 40px

.container
    max-width: 1234px
    margin: 0 auto
    padding: 0 30px
    width: 100%
    box-sizing: border-box

@media screen and ( max-width: 1023px )

    .container
        padding: 0 15px

@media screen and ( max-width: 450px )

    .mobile_catalog_pagination
        padding-bottom: 0px

    .container
        padding: 0 10px
