
.container
    max-width: 1234px
    margin: 0 auto
    padding: 0 30px
    width: 100%
    box-sizing: border-box

.url_component
    margin-top: 30px

.product_page
    font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif

    .product_page__title
        font-size: 34px
        color: #444444
        margin-top: 20px

    .product_page__content_wrap
        display: flex

    .product_page__statements
        margin-top: 20px
        font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif

    .product_page__statements_list
        display: flex
        justify-content: space-between

    .product_page__statements_list_item
        display: flex
        justify-content: space-between
        width: 33%

    .product_page__left
        width: 745px
        margin-right: 29px

@media screen and (max-width: 1025px)

    .product_page
        .product_page__title
            font-size: 20px

        .product_page__left
            width: 605px

@media screen and ( max-width: 1023px )

    .container
        padding: 0 15px

    .product_page
        .product_page__content_wrap
            flex-wrap: wrap

        .product_page__statements_list
            flex-wrap: wrap
            justify-content: center
        .product_page__statements_list_item
            width: 50%

        .product_page__left
            width: 100%

@media screen and ( max-width: 450px )

    .mobile_catalog_pagination
        padding-bottom: 0px

    .container
        padding: 0 10px
