.catalog_review_card
    padding: 20px 25px
    border: 1px solid #e8e8e8
    border-radius: 4px
    display: flex
    flex: wrap
    font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif
    margin-top: 20px
    &:last-child
        margin-bottom: 50px

    .catalog_review_card__product_smalltext
        font-size: 11px
        color: #acacac

    .catalog_review_card__product_title
        font-size: 16px
        margin-top: 10px
        color: #424242
        text-transform: uppercase

    .catalog_review_card__price
        font-size: 22px
        color: #444444
        font-weight: 700
        margin-top: 10px

    .catalog_review_card__credit
        margin-top: 10px

    .catalog_review_card__image
        margin-top: 5px
        img
            display: block
            width: 230px

    .catalog_review_card__credit
        font-size: 11px
        color: #888888

    .catalog_review_card__right
        margin-left: 20px

    .catalog_review_card__author_block
        display: flex
        justify-content: space-between

    .catalog_review_card__author_block_left
        display: flex
        align-items: center

    .catalog_review_card__author_name
        font-size: 16px
        color: #444444

    .catalog_review_card__author_home_town
        font-size: 11px
        color: #444444

    .catalog_review_card__author_stars
        display: flex
        margin-left: 10px
        img
            display: block
            width: 16.84px
            height: 16px

    .catalog_review_card__text
        font-size: 14px
        color: #444444

    .catalog_review_card__author_home_town
        margin-left: 10px

    .catalog_reivew_card__period_of_use
        font-size: 12px
        color: #bbbbbb
        span
            color: #0ca5d3

    .catalog_review_card__author_name
        font-size: 16px
        color: #444444

    .catalog_review_card__author_block_right
        background-color: #0ca5d3
        border-radius: 4px
        padding: 6px 10px 6px 10px
        font-size: 11px
        color: #ffffff
        display: flex
        align-items: center
        span
            margin-top: 2px
            margin-left: 5px

    .catalog_review_card__text
        font-size: 14px
        color: #444444
        line-height: 1.3
        margin-top: 20px

    .catalog_reivew_card__period_of_use
        margin-top: 15px
