.container
    max-width: 1234px
    margin: 0 auto
    padding: 0 30px
    width: 100%
    box-sizing: border-box

.util_container
    width: 1240px
    box-sizing: border-box
    padding: 0 30px
    margin: 0 auto
    position: relative

.index_page_filters
    display: flex
    justify-content: space-between
    margin-top: 25px

@media screen and ( max-width: 1023px)

    .header
        display: none
