.product_page__info
    margin-top: 25px

    .product_page__info_block
        background-color: #F7F9FB
        font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif
        padding: 14px

    .product_page__price_discount_block
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 10px

    .product_page__price_discount_block__prev
        opacity: .73
        color: #444
        font-family: Lato
        font-size: 25px
        text-decoration: line-through
        margin-right: 15px

    .product_page__price_discount_block__discount
        color: #fff
        font-size: 25px
        position: relative
        background: #00a651
        padding: 0 10px
        line-height: 33px
        border-radius: 4px

    .product_page__price_discount_block__discount__span
        font-weight: 900 !important
        cursor: pointer !important
        font-size: 25px !important
        color: #fff !important

    .button
        box-sizing: border-box
        position: relative
        display: flex
        align-items: center
        justify-content: center
        padding: 10px
        border-radius: 5px
        background-color: #fff
        color: #444
        font-size: 17px
        font-weight: 400
        text-decoration: none
        height: 35px
        border: 1px solid #e6e6e6
        width: 52px
        &:hover
            border: 1px solid #e71616
        img
            transform: scale(0.8)
        svg
            display: block
            width: 17.5px
            height: 17.5px
            fill: #0ca5d3

    .savepricepopup
        margin-right: -115px
        left: 0
        left: auto
        z-index: 1
        border-radius: 3px
        box-shadow: 1px 1px 10px rgb(30 30 30 / 22%)
        background-color: #0ca5d3
        position: absolute
        top: calc(100% + 7px)
        width: 372px
        &::after
            position: absolute
            bottom: 100%
            // right: 95px
            left: 95px
            content: ""
            width: 0
            height: 0
            border-color: transparent transparent #0ca5d3
            border-style: solid
            border-width: 0 5px 7px
        .title
            color: #fff
            font-size: 24px
            text-align: center
            line-height: 23px
            padding: 0 16px

        .text
            margin-top: 30px
            font-size: 15px
            font-weight: 400
            line-height: 22px
            text-align: center
            color: #fff

        .form_wrapper
            margin-top: 15px

        .form_title
            color: #fff
            font-size: 20px

        input
            margin-top: 15px
            box-sizing: border-box
            border-radius: 5px
            height: 49px
            color: #444
            font-size: 16px
            font-weight: 400
            line-height: 1
            letter-spacing: .6px
            padding: 0 20px
            box-shadow: inset 0 0 4px rgb(0 0 0 / 28%)
            background-color: #fff
            border: 1px solid transparent
            width: 100%
            max-width: 100%
            outline: none

        .subform_wrapper
            margin-bottom: 15px

        .button
            height: 64px
            padding: 20px
            border-radius: 5px
            font-size: 24px
            width: 100%
            font-weight: 400
            line-height: 1
            box-shadow: 1px 3px 7px rgb(0 0 0 / 19%)
            background: #ffdb4d
            color: #444
            outline: none
            text-decoration: none
            display: inline-block
            text-align: center
            border: none
            cursor: pointer

        .copy
            color: #fff
            font-size: 15px
            text-align: center
            margin-top: 15px
            a
                text-align: center
                font-size: 15px
                color: #fff
                text-decoration: underline

    .product_page_gift_popup
        margin-right: -115px
        right: 0
        left: auto
        z-index: 1
        border-radius: 3px
        box-shadow: 1px 1px 10px rgb(30 30 30 / 22%)
        background-color: #0ca5d3
        position: absolute
        top: calc(100% + 7px)
        width: 400px
        &::after
            position: absolute
            bottom: 100%
            // right: 95px
            left: 95px
            content: ""
            width: 0
            height: 0
            border-color: transparent transparent #0ca5d3
            border-style: solid
            border-width: 0 5px 7px
        .title
            color: #fff
            font-size: 24px
            text-align: center
            line-height: 23px
            padding: 0 16px

        .text
            margin-top: 30px
            font-size: 15px
            font-weight: 400
            line-height: 22px
            text-align: center
            color: #fff

    .line
        display: block
        width: 100%
        height: 1px
        background-color: #E6E6E6
        margin-top: 15px
        margin-bottom: 15px

    .line2
        display: block
        width: 100%
        height: 1px
        background-color: #E6E6E6
        margin-bottom: 15px
        margin-top: 30px

    .blue
        color: #0ca5d3

    .hint
        font-size: 18px
        color: #444444

    .suboption_list
        display: flex
        margin-bottom: 15px

    .product_page__price
        color: #e71616
        font-size: 33px
        text-align: center
        margin-top: 10px
        span
            font-size: 40px
            font-weight: 900
            color: #e71616

    .product_page__main_buttons
        margin-top: 20px

    .product_page__main_button
        background: #0ea8d5
        color: #fff
        font-size: 24px
        font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif
        width: 100%
        display: block
        line-height: 1
        font-weight: 400
        position: relative
        margin-bottom: 8px
        border-radius: 5px
        box-shadow: none
        border: none
        text-decoration: none
        text-align: center
        cursor: pointer

    .product_page__buy_one_click
        background: #ffdb4d
        border-color: #ffdb4d
        color: #444444

    .product_page__call
        background: #00A651
        border-color: #00A651
        color: #ffffff

    .product_page__meta_info
        font-size: 18px
        color: #444444
        display: flex
        justify-content: space-between
        .blue
            color: #0CA5D3
            margin-left: 5px

    .product_page__add_to_cart_button
        position: relative
        box-sizing: border-box

    .product_page__buy_one_click
        position: relative
        box-sizing: border-box

    .product_page__buy_one_click_popup
        box-sizing: border-box
        position: absolute
        background-color: #0EA8D5
        z-index: 1
        left: 0
        top: calc(100% + 5px)
        width: 100%
        color: #fff

        &::after
            position: absolute
            bottom: 100%
            left: 100px
            content: ""
            width: 0
            height: 0
            border-color: transparent transparent #0ca5d3
            border-style: solid
            border-width: 0 5px 7px

        .text
            color: #fff
            font-size: 15px
            margin-top: 25px

        .hint
            color: #fff
            font-size: 20px
            text-align: start
            margin-top: 12px

        .input_wrapper
            margin-top: 15px
            margin-bottom: 15px

        .copy
            color: #fff
            font-size: 15px
            margin-top: 15px
            a
                font-size: 15px
                color: #fff
                text-decoration: underline

        input
            border-radius: 5px
            height: 49px
            box-sizing: border-box
            box-shadow: inset 0 0 4px rgb(0 0 0 / 28%)
            background-color: #fff
            color: #444
            font-size: 16px
            font-weight: 400
            line-height: 1
            letter-spacing: .6px
            padding: 0 20px
            max-width: 100%
            outline: none
            border: 1px solid transparent
            width: 100%

        .popup_button
            padding: 20px
            width: 90%
            border-radius: 5px
            font-size: 24px
            line-height: 1
            box-shadow: 1px 3px 7px rgb(0 0 0 / 19%)
            background: #ffdb4d
            color: #444
            outline: none
            text-decoration: none
            display: inline-block
            text-align: center
            border: none

    .product_page__add_to_cart_button__popup
        box-sizing: border-box
        position: absolute
        background-color: #0EA8D5
        z-index: 1
        left: 0
        top: calc(100% + 5px)
        width: 100%

        &::after
            position: absolute
            bottom: 100%
            left: 100px
            content: ""
            width: 0
            height: 0
            border-color: transparent transparent #0ca5d3
            border-style: solid
            border-width: 0 5px 7px
        .hint
            font-size: 15px
            color: #fff
            text-align: center
            margin-bottom: 12px
            text-transform: uppercase
            margin-top: 25px
        .popup_button
            padding: 20px
            width: 90%
            border-radius: 5px
            font-size: 24px
            line-height: 1
            box-shadow: 1px 3px 7px rgb(0 0 0 / 19%)
            background: #ffdb4d
            color: #444
            outline: none
            text-decoration: none
            display: inline-block
            text-align: center
            border: none

    .hover_element
        box-sizing: border-box
        width: 160px
        height: 200px
        position: absolute
        top: -215px
        left: -100%
        z-index: 1
        background-color: #fff
        padding: 14px
        box-shadow: 6px 2px 20px -5px rgba(0,0,0,0.75)
        display: none

        &::after
            top: 11%
            left: 47%
            content: ''
            position: relative
            width: 0
            height: 0
            border-style: solid
            border-width: 8px 8px 0 8px
            border-color: #ffffff transparent transparent transparent

        .hover_element__title
            text-align: center
        .hover_element__image
            margin-top: 10px

    .selector_wrapper
        margin-bottom: 15px

    .product_page__suboptions_row_list_item
        width: 46px
        height: 46px
        padding: 5px
        border: 1px solid transparent
        border-radius: 5px
        margin-right: 20px
        margin-top: 10px
        position: relative
        &:first-child
            padding-left: 0
        &:hover
            .hover_element
                display: block
        div
            border-radius: 5px

    .product_page__line_with_buttons
        display: flex
        justify-content: space-between
        margin-bottom: 5px

        .big_button
            padding: 5px 10px 6px
            outline: none
            display: flex
            position: relative
            align-items: center
            justify-content: center
            border-radius: 5px
            background-color: #fff
            color: #444
            font-size: 17px
            font-weight: 400
            border: 1px solid #e6e6e6
            width: 283px
            box-sizing: border-box
            height: 35px
            font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif
            cursor: pointer
            &:hover
                border: 1px solid #e71616
            span
                color: #0ca5d3
                margin-right: 5px
                margin-left: 5px
                &:hover
                    border-color: #e71616

        .big_button > div
            width: 100%

@media screen and ( max-width: 1025px )

    .product_page__info
        .product_page__info_block
            .hint
                font-size: 16px

        .product-page__price
            font-size: 30px
            span
                font-size: 30px

@media screen and ( max-width: 1023px )

    .product_page__info
        .product_page__with_buttons_wrapper
            display: flex
            justify-content: space-between
            margin-bottom: 10px
            .button
                width: 65px
                box-sizing: border-box
                padding: 12.5px
                border: 1px solid #e6e6e6
                border-radius: 5px
                div
                    width: 25px
                    transform: translateX(8px)

                    svg
                        overflow: visible
                        height: 25px
                        width: 25px
                        fill: #0ca5d3
                        opacity: 0.8
                        transform: translateX(8px)

        .product-page__price
            color: #333333
